{% extends "base.html.twig" %}

    {% block head %}
      {% block title %}SIO GAME{% endblock %}
        {% endblock %}

        {% block body %}
        <h1>Bienvenue !</h1>
        <p>Votre message: {{information}}</p>
        {% endblock %}
